[submodule "lib/Clock"]
	path = lib/Clock
	url = https://github.com/blackketter/Clock.git
[submodule "lib/Preferences"]
	path = lib/Preferences
	url = https://github.com/blackketter/Preferences.git
[submodule "lib/Audio"]
	path = lib/Audio
	url = https://github.com/blackketter/Audio.git
[submodule "lib/ILI9341_t3"]
	path = lib/ILI9341_t3
	url = https://github.com/blackketter/ILI9341_t3.git
