[submodule "lib/Console"]
	path = lib/Console
	url = https://github.com/blackketter/Console.git
[submodule "lib/Clock"]
	path = lib/Clock
	url = https://github.com/blackketter/Clock.git
[submodule "lib/Timezone"]
	path = lib/Timezone
	url = https://github.com/blackketter/Timezone.git
[submodule "lib/MCP23018"]
	path = lib/MCP23018
	url = https://github.com/blackketter/MCP23018.git
[submodule "lib/Dictionary"]
	path = lib/Dictionary
	url = https://github.com/blackketter/Dictionary.git
[submodule "lib/ILI9341_t3"]
	path = lib/ILI9341_t3
	url = https://github.com/blackketter/ILI9341_t3.git
[submodule "lib/Adafruit_FT6206_Library"]
	path = lib/Adafruit_FT6206_Library
	url = https://github.com/blackketter/Adafruit_FT6206_Library.git
[submodule "lib/SparkFun_APDS-9960_Sensor_Arduino_Library"]
	path = lib/SparkFun_APDS-9960_Sensor_Arduino_Library
	url = https://github.com/blackketter/SparkFun_APDS-9960_Sensor_Arduino_Library.git
[submodule "lib/Audio"]
	path = lib/Audio
	url = https://github.com/blackketter/Audio.git
[submodule "lib/USBHost_t36"]
	path = lib/USBHost_t36
	url = https://github.com/blackketter/USBHost_t36.git
[submodule "lib/Adafruit_ILI9341"]
	path = lib/Adafruit_ILI9341
	url = https://github.com/adafruit/Adafruit_ILI9341.git
[submodule "lib/Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "lib/LuaArduino"]
	path = lib/LuaArduino
	url = https://github.com/blackketter/LuaArduino.git
